* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/*Navbar*/
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}
.main-nav .logo {
  width: 110px;
}
.hamburger{
padding: 8px;
cursor: pointer;
display: none;
}
.hamburger:hover , .hamburger:active{
border: 1px dashed;
}
.lines, .lines2{
width: 16px;
height: 3px;
background-color: black;
}
.lines2{
  margin: 3px 0px;
}
.main-nav ul {
  display: flex;
}
.main-nav ul li {
  padding: 0 10px;
}
.main-nav ul li a {
  padding-bottom: 2px;
  border-bottom: 2px solid #fff;
  transition: border 0.2s;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}
.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}
a {
  color: #262626;
  text-decoration: none;
}
ul {
  list-style: none;
}
.right-menu li:hover{
border: 1px dashed;
}

/*Sidebar*/
#Sidebar{
  display: none;
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: #fff;
}
.sidebar{
  padding: 9px;
}
.sidebar>li:hover{
  cursor: pointer;
  font-weight: 700;
}
.dark {
  color: #fff;
}
.dark .btn {
  background-color: #f4f4f4;
  color: #333;
  text-decoration-color: #f4f4f4;
}
.dark .btn:hover {
  text-decoration-color: #333;
  opacity: 0.95;
}

/*Hero Section*/
.slide{
  display: flex;
  flex-direction: column;
}
.case1{
  background: url("Images/Hero1.avif") no-repeat center center/cover;
  width: 100%;
  height: 400px;
}
.case2{
  background: url("Images/hero2.avif") no-repeat center center/cover;
  width: 100%;
  height: 400px;
}
.content{
  text-align: center;
  position: relative;
  padding: 26px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.content h2,
.content p {
  margin-bottom: 10px;
}
.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #176a91;
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  transition: opacity, text-decoration 0.2s;
  text-decoration: none;
}
.btn i {
  margin-left: 10px;
  transition: margin 0.2s;
}
.btn:hover {
  opacity: 0.9;
}
.btn:hover i {
  margin-left: 15px;
}

/*Logo Section*/
.logos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px 0px;
}
.logo-content{
  width: 260px;
  text-align: center;
  margin: 10px auto;
}
.logo-content p{
 color: #176a91;
 font-weight: 700;
 text-decoration: underline;
 margin-top: 5px;
 cursor: pointer;
}

/*Cards Section*/
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}
.home-cards img {
  width: 100%;
  margin-bottom: 20px;
}
.home-cards h3 {
  margin-bottom: 5px;
}
.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  font-weight: 700;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  text-decoration-color: #fff;
  transition: text-decoration 0.2s;
}
.home-cards a i {
  margin-left: 7px;
  transition: margin 0.2s;
}
.home-cards a:hover {
  text-decoration-color: #0067b8;
}
.home-cards a:hover i {
  margin-left: 10px;
}

/*Xbox Section*/
.xbox{
  height: 350px;
  width: 100%;
  background: url("Images/hero3.avif") no-repeat center center/cover;
  margin-bottom: 20px;
}
.xbox .content .btn {
  margin-top: 0;
}
.xbox p{
  margin: 10px 0 20px;
}

/*Follow Section*/
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0px;
}
.follow p {
  margin-right: 20px;
}
.follow img{
  width: 40px;
}
.follow * {
  margin-right: 5px;
}

/*Links Section*/
.links {
  background-color: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding:  0px 0px 35px 0;
}
.links-inner{
  display: flex;
  padding: 0 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1100px;
  margin: auto;
}
.links-inner div{
 width: 30%;
 margin-top: 15px;
}
.links li {
  line-height: 2.3;
}

/*Footer Section*/
.footer {
  background-color: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
}
.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
}
.footer li {
  margin-right: 20px;
  margin-bottom: 10px;
}
.footer div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.footer i {
  margin-right: 10px;
}

@media (max-width: 800px) {
  
  .main-nav .main-menu {
    display: none;
  }
.hamburger{
  display: inline;
  }
  .content{
    text-align: start;
  }
  .home-cards { 
    grid-template-columns: repeat(2, 1fr);
  }
  .xbox .content p {
    display: none;
  }
  .xbox .content .btn {
    margin-top: 20px;
  }
  .follow img{
    width: 30px;
  }
  .links .links-inner {
    text-align: start;
  }
  .footer div > div {
    margin-right: 15px;
  }
}

@media (max-width: 500px) {
  
  .case1 , .case2{
    height: 300px;
  }
  .home-cards {
    grid-template-columns: 1fr;
  }
  .xbox{
    height: 250px;
  }
.Xbox-section .content{
  padding: 16px;
}
.links-inner div{
  width: 100%;
 }
.links-inner{
  flex-direction: column;
}
.footer-inner{
  flex-direction: column;
  justify-content: flex-start;
}
  .footer div {
    margin-bottom: 0;
  }
  .footer i {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .footer div > div {
    margin: 0;
    padding: 0;
    margin-right: 0;
  }
}
